[Unit]
Description=IPTV Live Bridge Socket (Zero-Downtime Connection Holding)

[Socket]
ListenStream=[fd00:2830::7555]:8080
Service=iptv-live-bridge.service
NoDelay=true
FreeBind=true
ReusePort=true

[Install]
WantedBy=sockets.target

